/* ======================== NOT USE ==================== */

/* .layout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
} */

.layout {
  /* background-image: url("../../assets/body-bg.png"); */
  /* background-size: cover;
  position: fixed; */
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.layout {
  /* background-color: var(--gr); */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/body-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.layout h2 {
  /* font-family: "Great Vibes", cursive; */
  font-family: "Allura", cursive;
  font-size: 38px;
}

.layout h3 {
  font-size: 20px;
}

.layout p {
  font-size: 18px;
}
